<nb-card>
  <nb-card-header>
    <button nbButton BackButton>back</button>
    <h1 id="title" class="title">Login</h1>
  </nb-card-header>
  <nb-card-body>
    <p>Vuillez saisir votre Login et mot de passe :</p>
    
    <nb-alert *ngIf="error!=''" accent="danger">
      {{error}}
    </nb-alert>

    <nb-alert *ngIf="message!=''" accent="success">
      {{message}}
    </nb-alert>

    <form (ngSubmit)="login()" aria-labelledby="title">

      <div class="form-control-group">
        <label class="label" for="input-email">Email address:</label>
        <input nbInput fullWidth [(ngModel)]="email" name="email" id="input-email" pattern=".+@.+\..+" placeholder="Email address" autofocus
          [required]="true">
        <ng-container *ngIf="false">
          <p class="error-message" *ngIf="true">
            Email is required!
          </p>
          <p class="error-message" *ngIf="false">
            Email should be the real one!
          </p>
        </ng-container>
      </div>

      <div class="form-control-group">
        <label class="label" for="input-password">Password:</label>
        <input nbInput fullWidth type="password" [(ngModel)]="password" name="password" id="input-password" placeholder="Password" [required]="true">
        <ng-container *ngIf="false ">
          <p class="error-message" *ngIf="false">
            Password is required!
          </p>
          <p class="error-message" *ngIf="false">
            Password should contains
            characters
          </p>
        </ng-container>
      </div>

      <div class="form-control-group accept-group">
        <nb-checkbox name="rememberMe" *ngIf="true">Remember me</nb-checkbox>
        <a class="forgot-password" routerLink="../request-password">Forgot Password?</a>
      </div>

      <button nbButton fullWidth status="success" [disabled]="submitted" [class.btn-pulse]="submitted">
        Log In
      </button>
    </form>

    <section class="another-action" aria-label="Register">
      Don't have an account? <a class="text-link" routerLink="../register">Register</a>
    </section>
  </nb-card-body>
</nb-card>
