
// @nebular theming framework
@import '~@nebular/theme/styles/theming';
// @nebular out of the box themes
@import '~@nebular/theme/styles/themes';

@include nb-install-component() {
    ::ng-deep router-outlet + * {
      display: block;
      animation: fade 1s;
  
      @keyframes fade {
        from {
          opacity: 0;
        }
  
        to {
          opacity: 1;
        }
      }
    }
  }